// Specific CSS for your home-page
.banner1 {
  // height: 600px;
  background-size: cover;
  background-position: center;
  background-color: white;
}
.container1{
background-image: asset-url("banner1.png");
padding: 8px 74px;
height: 93vh;
background-repeat: no-repeat;
background-position: bottom;
}
.hometitle{
  font-size: 45px;
  color: #453E4E;
}
.homesubtitle{
  font-size: 20px;
  color: #453E4E;
}
.banner1 h1 {
  color: #453E4E;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 14px;
}
.banner1 h3 {
  color: #453E4E;
}
// .banner1 a {
//   display: inline-block;
//   background-color: #FCA601;
//   color: white;
//   font-size: 18px;
//   padding: 10px 20px;
//   border-radius: 50px;
//   text-decoration: none;
// }
.imgbanner1 img {
  width: 100%;
  display: block;
}
