// Specific CSS for your home-page
.banner1 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: white;
  position: relative;

  i {
    position: absolute;
    bottom: 40px;
    right: 50%;position: absolute;
    bottom: 40px;
    right: 50%;
    font-size: 40px;
    color: white;
    font-size: 40px;
    color: white;
  }
}

.banner-bg-img {
background-image: asset-url("banner1.png");
background-repeat: no-repeat;
background-position: bottom;
background-size: contain;
height: 100%;
}

.h-82 {
  height: 82vh;
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.hometitle{
  font-size: 45px;
  color: #453E4E;
}
.homesubtitle{
  font-size: 20px;
  color: #453E4E;
}
.banner1 h1 {
  color: #453E4E;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 5px;
  font-size: 30px;
}
.banner1 h3 {
  color: #453E4E;
}
section {
  height: 66vh;
}
.image-container {
  position: relative;
  width: 300px;
}
.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: 453E4E;
  font-size: 23px;
  font-style: italic;
  padding: 38px;
}
.btn-main:hover {
  background-color: #e09200;
  color: white;
}
.containerbanner1{
  padding-left: 120px;
  padding-top: 50px;
}
