// Specific CSS for your home-page
.banner1 {
  // height: 600px;
  background-size: cover;
  background-position: center;
  background-color: white;
}
.container1{
background-image: asset-url("banner1.png");
padding: 8px 74px;
height: 82vh;
background-repeat: no-repeat;
background-position: bottom;
}
.hometitle{
  font-size: 45px;
  color: #453E4E;
}
.homesubtitle{
  font-size: 20px;
  color: #453E4E;
}
.banner1 h1 {
  color: #453E4E;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 5px;
  font-size: 30px;
}
.banner1 h3 {
  color: #453E4E;
}
section {
  height: 80vh;
}
