.full-width-container {
  width: 100%;
  height: 100%;
  background-color: #FFFAF1;
}

.progress{
  width: 75%;
}

.curved-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.card-new {
  background-color: transparent;

  label {
    display: flex;
    justify-content: center;
  }

  label:hover {
    cursor: pointer;
  }

  .work {
    display: flex;
    align-items: center;
    gap: 0.7em;
  }
}
