<aside class="sidebar">
  <!-- Contenu de la sidebar -->
  <ul>
    <li><%= link_to "Accueil", root_path, class: "btn btn-ghost" %></li>
    <li><%= link_to "Mes projets", dashboard_path, class: "btn btn-ghost" %></li>
    <!-- Ajoutez d'autres liens selon vos besoins -->
  </ul>
</aside>
