<div class="banner1">
  <div class="container1">
    <h1 class="hometitle">La rénovation en toute simplicité</h1>
    <p class="homesubtitle">Trouvez les experts parfaits pour vos travaux de rénovation énergétique.</p>
    <a class="btn-main" href="<%= new_project_path %>">Commencez</a>
  </div>
</div>

<section class="d-flex align-items-center justify-content-between main-container">
  <%= image_tag "househome.png", width: 200 %>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatum!
  </div>
</section>
