<h2>Veuillez selectionner des artisants pour votre projet : <strong><%= @project.title %></strong></h2>

<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-8">
      <div class="cards">
        <% @artisans.each do |artisan| %>
          <%= render partial: 'artisan_card', locals: { artisan: artisan, project: @project } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
