<h2>Veuillez selectionner des artisants pour votre projet : <%= @project.title %></h2>

<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-8">
      <div class="cards">
        <% User.where(role: 'artisan').each do |artisan| %>
          <%= render partial: 'artisan_card', locals: { artisan: artisan } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
