.btn-main {
  display: inline-block;
  background-color: #FCA601;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  border: none;
}

.btn-secondary {
  display: inline-block;
  background-color: #605d57;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}
.btn-main input[type="submit"] {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-main d-flex{
  font-size: 18px;
  padding: 10px 20px;
}
