.btn-main {
  display: inline-block;
  background-color: #FCA601;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  border: none;
}
.btn-ghost {
  color: #272727;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  font-size: small;
  padding: 0px !important;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-secondary {
  display: inline-block;
  background-color: #605d57;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.btn-main input[type="submit"] {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-main d-flex{
  font-size: 18px;
  padding: 10px 20px;
}

.custom-button {
  background-color: #FCA601;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

// .btn-open-modal {
//   margin: 20px 0px;
// }

.btn-card-artisan {
  display: inline-block;
  background-color: #FCA601;
  color: white;
  font-size: small;
  padding: 5px 10px;
  border-radius: 7px;
  text-decoration: none;
  border: none;
}
