.col-3 {
  flex: 0 0 auto;
  width: 25%;
  margin-top: 150px;
}


th {
  padding: 10px; /* Ajoute de l'espace entre le texte et les bords de chaque cellule d'en-tête */
}

td {
  padding: 10px; /* Ajoute de l'espace entre le texte et les bords de chaque cellule de données */
}



.custom-list {
  list-style-type: none;
}

.custom-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce */
  border-radius: 8px; /* Ajoute des coins arrondis */
}

.custom-list li i {
  margin-right: 10px;
}

.card-dashboard {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce */

  .card-body {
    padding: 20px;
  }
}
