.navbar-betterplace {
  justify-content: space-between;
  background: white;
}
.navbar-betterplace .navbar-collapse {
  flex-grow: 0;
}
.navbar-brand img{
  width: 62px;
  height: 46px;
}
.nav-link.oval-border {
  display: inline-block;
  background-color: #453E4E;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-item:hover .btn-secondary {
  background-color: #443c42;
  color: white;
}
